<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyStudy</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/styles.5ef404f1fdd2d81ad024.css"></head>
<body>
  <app-root></app-root>
  <script src="/static/runtime-es2015.0811dcefd377500b5b1a.js" type="module"></script>
  <script src="/static/runtime-es5.0811dcefd377500b5b1a.js" nomodule defer></script>
  <script src="/static/polyfills-es5.1a3c78b07cd6f16c6e9a.js" nomodule defer></script>
  <script src="/static/polyfills-es2015.1f913f16a2d346cc8bdc.js" type="module"></script>
  <script src="/static/main-es2015.e88e32f3c615d6fe04be.js" type="module"></script>
  <script src="/static/main-es5.e88e32f3c615d6fe04be.js" nomodule defer></script></body>
</html>
